.vscode/settings.json
src/cpz_citibike.egg-info
# Ignore compiled Python files
*.pyc
__pycache__/
data/raw_citibike_data/*
!data/raw_citibike_data/.gitkeep
nbs/sandbox.ipynb
sample_data
src/src_components/logs/dbt.log
src/src_components/data_transform/dev.duckdb
src/src_components/data_transform/dev.duckdb.wal
src/src_components/data_load/start_station_names.csv
.vscode/mcp.json
